<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Title</title>
</head>
<body>
<!-- The next line allows us to include the menu bar in other thymeleaf template files -->
<div th:fragment="menu-bar">
    <!-- Menu Bar -->
    <nav class="menu-bar">
        <ul>
            <li><a th:href="@{/}" th:text="#{menu.home}"></a></li>
            <li><a th:href="@{/viewProducts}" th:text="#{menu.products}"></a></li>
            <li th:if="${#ctx.session.currentUser == null}"><a th:href="@{/loginPage}" th:text="#{menu.login}"></a></li>
            <li th:if="${#ctx.session.currentUser == null}"><a th:href="@{/registerPage}" th:text="#{menu.register}"></a></li>
            <li th:unless="${#ctx.session.currentUser == null}"><a th:href="@{/userOrders}" th:text="#{menu.orders}"></a></li>
            <li th:unless="${#ctx.session.currentUser == null}"><a th:href="@{/logout}" th:text="#{menu.logout}"></a></li>
        </ul>
    </nav>
    <div th:replace="~{fragments/language_menu :: language-menu-bar}"></div>
</div>
</body>
</html>